html{
    font-size: 10px;
    font-family: "Open Sans",sans-serif;
    background-color: burlywood;
}

h1{
    margin: 0;
    font-size: 60px;
    text-align: center;
}

p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    width: 600px;
    background-color: chartreuse;
    padding: 0 5px 10px;
    border: 5px solid black;
}

img{
    display: block;
    margin: 0 auto;
}